body {
    margin: 0;
    padding: 0;
    background-color: #e5e5e5;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    text-align: center;
    padding: 10px;
}

p {
    text-align: center;
    margin: 10px;
}

main {
    width: 100%;
    margin: 0 auto;
}

div {
    width: 100%;
    margin: 10px auto;
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
}

img {
    width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}


@media (min-width: 772px) {

    main {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    div {
        width: 45%;          
        margin: 10px 0;
    }

    img {
        max-height: 30vh;    
        width: auto;
    }
}


@media (min-width: 998px) {

    div {
        width: 30%;          
    }
}
